html{
  background-color: black;
  color: white;
}

#top-banner{
  text-align: center;
}

section{
  margin-left: 10vw;
  margin-right: 10vw;
}

a{
  color: #00FE00;
}

a:visited{
  color: #FE0000
}

nav{
  position: fixed
}

nav a{
  margin: 5px
}
